/*
ForecastAPI

Time series forecasting service with multiple algorithms and automatic method selection

API version: 2.1.0
Contact: support@forecastapi.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package forecastapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// GroupedForecastingAPIService GroupedForecastingAPI service
type GroupedForecastingAPIService service

type GroupedForecastingAPICreateGroupedForecastRequest struct {
	ctx context.Context
	ApiService *GroupedForecastingAPIService
	groupedForecastRequest *GroupedForecastRequest
}

func (r GroupedForecastingAPICreateGroupedForecastRequest) GroupedForecastRequest(groupedForecastRequest GroupedForecastRequest) GroupedForecastingAPICreateGroupedForecastRequest {
	r.groupedForecastRequest = &groupedForecastRequest
	return r
}

func (r GroupedForecastingAPICreateGroupedForecastRequest) Execute() (*GroupedForecastAccepted, *http.Response, error) {
	return r.ApiService.CreateGroupedForecastExecute(r)
}

/*
CreateGroupedForecast Submit a grouped (hierarchical) forecast with reconciliation

Forecast a set of related series that roll up to a total — MRR by plan and region,
demand by warehouse, revenue by category — and get back one coherent result: every
parent equals the sum of its children, in every period, at every level.

You send only the **leaves** of the hierarchy (every combination of the declared
dimensions, each with its own history). The API derives every aggregate level and the
grand total by summing the leaf histories, forecasts the nodes, reconciles them to
coherence, and stores each node as its own entity with independently tracked accuracy.

Processing is **asynchronous**: submission returns `202` with an id to poll via
`GET /v2/forecast/grouped/{grouped_forecast_id}`. The run executes in the background
as one all-or-nothing job — a hierarchy is one coherent answer, so there is no partial
success. If any node cannot be forecast, the run fails with the reason rather than
returning numbers that don't add up.

If you just want independent forecasts per slice — no coherent roll-up — the batch
endpoint with per-series identifiers or `tenant_context` is simpler and tolerates
per-series failure.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return GroupedForecastingAPICreateGroupedForecastRequest
*/
func (a *GroupedForecastingAPIService) CreateGroupedForecast(ctx context.Context) GroupedForecastingAPICreateGroupedForecastRequest {
	return GroupedForecastingAPICreateGroupedForecastRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GroupedForecastAccepted
func (a *GroupedForecastingAPIService) CreateGroupedForecastExecute(r GroupedForecastingAPICreateGroupedForecastRequest) (*GroupedForecastAccepted, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GroupedForecastAccepted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupedForecastingAPIService.CreateGroupedForecast")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/forecast/grouped"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.groupedForecastRequest == nil {
		return localVarReturnValue, nil, reportError("groupedForecastRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.groupedForecastRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationFailedResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GroupedForecastingAPIGetGroupedForecastRequest struct {
	ctx context.Context
	ApiService *GroupedForecastingAPIService
	groupedForecastId string
}

func (r GroupedForecastingAPIGetGroupedForecastRequest) Execute() (*GroupedForecastStatusResponse, *http.Response, error) {
	return r.ApiService.GetGroupedForecastExecute(r)
}

/*
GetGroupedForecast Poll a grouped forecast for status and results

Returns the run's status. Once `completed`, `results` carries a node map keyed by
segment (`total`, `region=eu`, `plan=pro|region=eu`, …) — every node with its own
forecast rows, its place in the tree, and the reconciliation details. If the run
`failed`, `error` carries the reason and `results` stays null.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupedForecastId The id returned by POST /v2/forecast/grouped
 @return GroupedForecastingAPIGetGroupedForecastRequest
*/
func (a *GroupedForecastingAPIService) GetGroupedForecast(ctx context.Context, groupedForecastId string) GroupedForecastingAPIGetGroupedForecastRequest {
	return GroupedForecastingAPIGetGroupedForecastRequest{
		ApiService: a,
		ctx: ctx,
		groupedForecastId: groupedForecastId,
	}
}

// Execute executes the request
//  @return GroupedForecastStatusResponse
func (a *GroupedForecastingAPIService) GetGroupedForecastExecute(r GroupedForecastingAPIGetGroupedForecastRequest) (*GroupedForecastStatusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GroupedForecastStatusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupedForecastingAPIService.GetGroupedForecast")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/forecast/grouped/{grouped_forecast_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"grouped_forecast_id"+"}", url.PathEscape(parameterValueToString(r.groupedForecastId, "groupedForecastId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetGroupedForecast404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
