openapi: 3.0.3
info:
  contact:
    email: support@forecastapi.com
    name: Support
  description: Time series forecasting service with multiple algorithms and automatic
    method selection
  title: ForecastAPI
  version: 2.2.0
servers:
- description: Production server
  url: https://forecastapi.com
tags:
- description: Health check endpoints
  name: Health
- description: Time series forecasting operations
  name: Forecasting
- description: Hierarchical forecasting with reconciliation — parts that sum to the
    whole
  name: Grouped Forecasting
- description: Asynchronous forecasting of many independent series in one call
  name: Batch Forecasting
- description: Statistical anomaly detection in time series data
  name: Anomaly Detection
- description: Product performance analysis with classified insights and recommendations
  name: Product Insights
- description: Data analysis operations
  name: Analysis
- description: Comprehensive inventory management and supplier optimization
  name: Inventory Planning
- description: Infrastructure scaling and traffic pattern analysis
  name: Traffic Forecasting
paths:
  /v2:
    get:
      operationId: getApiRoot
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getApiRoot_200_response"
          description: API v2 Home
      summary: API root endpoint
      tags:
      - Health
  /v2/health:
    get:
      operationId: healthCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/healthCheck_200_response"
          description: Health status of the API
      summary: Health check endpoint
      tags:
      - Health
  /v2/forecast:
    post:
      operationId: createForecast
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForecastRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForecastResponse"
          description: Successful forecast generation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createForecast_400_response"
          description: No suitable forecasting method found
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createForecast_502_response"
          description: The forecasting backend failed to produce a forecast
      security:
      - apiKey: []
      summary: Generate forecast for time series data
      tags:
      - Forecasting
  /v2/forecast/grouped:
    post:
      description: |
        Forecast a set of related series that roll up to a total — MRR by plan and region,
        demand by warehouse, revenue by category — and get back one coherent result: every
        parent equals the sum of its children, in every period, at every level.

        You send only the **leaves** of the hierarchy (every combination of the declared
        dimensions, each with its own history). The API derives every aggregate level and the
        grand total by summing the leaf histories, forecasts the nodes, reconciles them to
        coherence, and stores each node as its own entity with independently tracked accuracy.

        Processing is **asynchronous**: submission returns `202` with an id to poll via
        `GET /v2/forecast/grouped/{grouped_forecast_id}`. The run executes in the background
        as one all-or-nothing job — a hierarchy is one coherent answer, so there is no partial
        success. If any node cannot be forecast, the run fails with the reason rather than
        returning numbers that don't add up.

        If you just want independent forecasts per slice — no coherent roll-up — the batch
        endpoint with per-series identifiers or `tenant_context` is simpler and tolerates
        per-series failure.
      operationId: createGroupedForecast
      requestBody:
        content:
          application/json:
            examples:
              mrr_by_region_and_plan:
                summary: MRR split by region and plan
                value:
                  identifier: mrr
                  hierarchy:
                  - region
                  - plan
                  reconciliation: bottom_up
                  frequency: M
                  periods: 6
                  data_type: revenue
                  series:
                  - segment:
                      region: eu
                      plan: pro
                    data:
                    - date: 2024-01-01
                      value: 42000
                    - date: 2024-02-01
                      value: 43800
                  - segment:
                      region: eu
                      plan: free
                    data:
                    - date: 2024-01-01
                      value: 3100
                    - date: 2024-02-01
                      value: 3300
                  - segment:
                      region: us
                      plan: pro
                    data:
                    - date: 2024-01-01
                      value: 61000
                    - date: 2024-02-01
                      value: 62500
            schema:
              $ref: "#/components/schemas/GroupedForecastRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupedForecastAccepted"
          description: Accepted — the hierarchy is queued for background processing
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "422":
          content:
            application/json:
              example:
                error: Validation failed
                errors:
                  series:
                  - "All series must end on the same date so their forecast periods\
                    \ align; found last dates: 2024-02-01, 2024-03-01."
                time_taken_ms: 12.4
              schema:
                $ref: "#/components/schemas/ValidationFailedResponse"
          description: |
            Validation error. Notable rejections beyond field-shape errors: per-series config
            overrides (`series.*.periods`, `series.*.model`, …), the planning parameters
            (`quantiles`, `value_bounds`, `adjustments`, `accumulate`) at any level, a
            `segment` not naming exactly the declared hierarchy dimensions, duplicate
            segments, series not ending on the same date, `reconciliation: top_down`, and a
            hierarchy expanding past 250 nodes.
      security:
      - apiKey: []
      summary: Submit a grouped (hierarchical) forecast with reconciliation
      tags:
      - Grouped Forecasting
  /v2/forecast/grouped/{grouped_forecast_id}:
    get:
      description: |
        Returns the run's status. Once `completed`, `results` carries a node map keyed by
        segment (`total`, `region=eu`, `plan=pro|region=eu`, …) — every node with its own
        forecast rows, its place in the tree, and the reconciliation details. If the run
        `failed`, `error` carries the reason and `results` stays null.
      operationId: getGroupedForecast
      parameters:
      - description: The id returned by POST /v2/forecast/grouped
        explode: false
        in: path
        name: grouped_forecast_id
        required: true
        schema:
          example: k3n9x2m4p8q1w5r7
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupedForecastStatusResponse"
          description: Current status of the grouped forecast run
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getGroupedForecast_404_response"
          description: No grouped forecast with this id exists for your team
      security:
      - apiKey: []
      summary: Poll a grouped forecast for status and results
      tags:
      - Grouped Forecasting
  /v2/batch/forecast:
    post:
      description: |
        Forecast up to 100,000 independent series in one call (10 on the free tier), at a
        discount per forecast. Each series is processed independently — one failing series
        does not fail the others. Submission returns `202` with a `batch_id` to poll via
        `GET /v2/batch/forecast/{batch_id}`.

        Request-level `periods`, `frequency`, `data_type`, `confidence` and the four
        planning parameters (`quantiles`, `value_bounds`, `adjustments`, `accumulate`) act
        as defaults every series inherits; any series may override any of them. `model` is
        request-level only.

        For payloads too large to send inline, get a presigned upload URL from
        `POST /v2/batch/forecast/presign` and submit `file_key` instead of `series`.
      operationId: createBatchForecast
      requestBody:
        content:
          application/json:
            example:
              series:
              - identifier: SKU-001
                data:
                - date: 2024-01-01
                  value: 100
                - date: 2024-02-01
                  value: 150
                data_type: sales
                periods: 3
              - identifier: CHURN-RATE
                data:
                - date: 2024-01-01
                  value: 0.041
                - date: 2024-02-01
                  value: 0.038
                periods: 3
                value_bounds:
                  min: 0
                  max: 1
              frequency: M
              confidence: 0.8
              quantiles:
              - 0.1
              - 0.5
              - 0.9
            schema:
              $ref: "#/components/schemas/BatchForecastRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchForecastAccepted"
          description: Accepted — the batch is queued for processing
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationFailedResponse"
          description: Validation error
      security:
      - apiKey: []
      summary: Submit a batch of series for forecasting
      tags:
      - Batch Forecasting
  /v2/batch/forecast/presign:
    post:
      description: |
        Returns a presigned URL for uploading a JSON file containing the batch request
        body — an object with a `series` array, the same shape as the inline
        `/v2/batch/forecast` request. HTTP PUT the file to `upload_url` (including any
        returned `headers`), then submit the batch by POSTing the returned `file_key` to
        `/v2/batch/forecast`. The URL is valid for 30 minutes.
      operationId: presignBatchForecast
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchPresignResponse"
          description: Presigned upload details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      security:
      - apiKey: []
      summary: Get a presigned URL for a file-based batch upload
      tags:
      - Batch Forecasting
  /v2/batch/forecast/{batch_id}:
    get:
      description: |
        Returns the batch's status, a summary once it finalises, and each series' results
        under `results.data` — keyed by **entity id** rather than by your identifier,
        because one batch may contain the same identifier under several `tenant_context`
        values. Match series via the `identifier` and `tenant_context` echoed inside each
        result object.
      operationId: getBatchForecast
      parameters:
      - description: The id returned by POST /v2/batch/forecast
        explode: false
        in: path
        name: batch_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchForecastStatusResponse"
          description: Current status and results of the batch
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getGroupedForecast_404_response"
          description: No batch with this id exists for your team
      security:
      - apiKey: []
      summary: Poll a batch forecast for status and results
      tags:
      - Batch Forecasting
  /v2/analyze:
    post:
      operationId: analyzeTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForecastRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalysisResponse"
          description: Successful data analysis
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error
      security:
      - apiKey: []
      summary: Analyze time series data without generating forecast
      tags:
      - Analysis
  /v2/inventory-planning:
    post:
      description: |
        Generate inventory forecasts with supplier recommendations, reorder points, safety stock calculations,
        and comprehensive stock analysis. This endpoint combines time series forecasting with inventory
        optimization to provide actionable recommendations for stock management and procurement.

        **Key Features:**
        - Automatic forecasting method selection based on demand patterns
        - Multi-supplier cost and lead time optimization
        - Safety stock calculation with configurable service levels
        - Reorder point recommendations with minimum order quantity considerations
        - Stock analysis including stockout risk and days of coverage
        - Real-time supplier performance evaluation
      operationId: createInventoryPlan
      requestBody:
        content:
          application/json:
            examples:
              basic_planning:
                description: Simple inventory planning with one supplier
                summary: Basic inventory planning request
                value:
                  identifier: SKU-12345
                  frequency: M
                  start_date: 2024-01-01
                  periods: 6
                  enable_intelligent_aggregation: true
                  data:
                  - date: 2023-01-01
                    value: 100
                  - date: 2023-02-01
                    value: 120
                  - date: 2023-03-01
                    value: 95
                  - date: 2023-04-01
                    value: 130
                  - date: 2023-05-01
                    value: 110
                  inventory_settings:
                    current_stock: 250
                    minimum_stock: 50
                    service_level: 0.95
                    suppliers:
                    - identifier: supplier-a
                      lead_time_days: 14
                      minimum_order_quantity: 100
                      cost_per_unit: 12.5
                      reliability_score: 0.98
              multi_supplier:
                description: Compare multiple suppliers with different costs and lead
                  times
                summary: Multi-supplier comparison
                value:
                  identifier: SKU-67890
                  frequency: W
                  periods: 12
                  data:
                  - date: 2023-01-01
                    value: 45
                  - date: 2023-01-08
                    value: 52
                  - date: 2023-01-15
                    value: 38
                  - date: 2023-01-22
                    value: 67
                  inventory_settings:
                    current_stock: 180
                    minimum_stock: 25
                    service_level: 0.98
                    suppliers:
                    - identifier: fast-supplier
                      lead_time_days: 5
                      minimum_order_quantity: 50
                      cost_per_unit: 15.75
                      reliability_score: 0.99
                    - identifier: cheap-supplier
                      lead_time_days: 21
                      minimum_order_quantity: 200
                      cost_per_unit: 11.25
                      reliability_score: 0.88
                    - identifier: balanced-supplier
                      lead_time_days: 12
                      minimum_order_quantity: 75
                      cost_per_unit: 13.5
                      reliability_score: 0.95
            schema:
              $ref: "#/components/schemas/InventoryPlanningRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryPlanningResponse"
          description: Successful inventory planning generation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createInventoryPlan_400_response"
          description: Planning failed due to insufficient data or invalid parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createInventoryPlan_500_response"
          description: Internal server error during inventory planning
      security:
      - apiKey: []
      summary: Generate comprehensive inventory planning recommendations
      tags:
      - Inventory Planning
  /v2/traffic-forecasting:
    post:
      description: |
        Generate comprehensive traffic forecasts with infrastructure scaling recommendations, capacity analysis,
        cost optimization, and traffic anomaly alerts. This endpoint is designed for web applications, APIs,
        and infrastructure teams to predict traffic patterns and optimize resource allocation.

        **Key Features:**
        - Intelligent traffic pattern forecasting with multiple algorithms
        - Infrastructure scaling recommendations (scale up/down/maintain)
        - Real-time capacity utilization analysis
        - Traffic spike and anomaly detection alerts
        - Cost optimization recommendations with potential savings
        - Auto-scaling benefit analysis
        - Support for various time frequencies (minute, hourly, daily, etc.)
      operationId: createTrafficForecast
      requestBody:
        content:
          application/json:
            examples:
              hourly_traffic:
                description: Forecast hourly traffic patterns for a web application
                summary: Hourly web traffic forecasting
                value:
                  identifier: api-endpoint-users
                  frequency: H
                  start_date: 2024-01-01
                  periods: 24
                  enable_intelligent_aggregation: true
                  data:
                  - date: 2023-12-01 00:00:00
                    value: 1200
                  - date: 2023-12-01 01:00:00
                    value: 800
                  - date: 2023-12-01 02:00:00
                    value: 600
                  - date: 2023-12-01 03:00:00
                    value: 500
                  - date: 2023-12-01 04:00:00
                    value: 450
                  traffic_settings:
                    current_capacity: 2000
                    baseline_traffic: 1000
                    scaling_buffer: 0.2
                    scale_up_threshold: 0.8
                    scale_down_threshold: 0.3
                    alert_threshold: 1.5
                    anomaly_threshold: 3.0
                    cost_per_unit: 0.01
                    fixed_cost_per_capacity: 0.1
                    base_scaling_time: 5
                    enable_auto_scaling: false
              daily_api_traffic:
                description: Forecast daily API traffic with auto-scaling enabled
                summary: Daily API traffic with auto-scaling
                value:
                  identifier: public-api-v2
                  frequency: D
                  periods: 30
                  data:
                  - date: 2023-11-01
                    value: 45000
                  - date: 2023-11-02
                    value: 52000
                  - date: 2023-11-03
                    value: 48000
                  - date: 2023-11-04
                    value: 38000
                  - date: 2023-11-05
                    value: 35000
                  traffic_settings:
                    current_capacity: 60000
                    baseline_traffic: 40000
                    enable_auto_scaling: true
                    cost_per_unit: 0.005
                    fixed_cost_per_capacity: 0.08
            schema:
              $ref: "#/components/schemas/TrafficForecastingRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrafficForecastingResponse"
          description: Successful traffic forecasting generation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createInventoryPlan_400_response"
          description: Forecasting failed due to insufficient data or invalid parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTrafficForecast_500_response"
          description: Internal server error during traffic forecasting
      security:
      - apiKey: []
      summary: Generate traffic forecasting with infrastructure scaling recommendations
      tags:
      - Traffic Forecasting
  /v2/detect-anomalies:
    post:
      description: |
        Detects anomalies using statistical methods — z-score, IQR or seasonal — and
        automatically selects the best method for the data's characteristics unless one is
        named in `anomaly_settings.method`. Returns each anomalous point with its expected
        range, severity and type, plus an analysis of how the method was chosen.
      operationId: detectAnomalies
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnomalyDetectionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnomalyDetectionResponse"
          description: Detection results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/detectAnomalies_422_response"
          description: |
            Validation error, or the data is not suitable for the requested detection
            method (the latter returns `{error, time_taken_ms}`)
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/detectAnomalies_500_response"
          description: Internal error during detection
      security:
      - apiKey: []
      summary: Detect anomalies in time series data
      tags:
      - Anomaly Detection
  /v2/product-insights:
    post:
      description: |
        Analyzes a product's sales, purchase and cost-history data and returns classified
        insights — margin compression, sales anomalies, cost changes, lead-time
        reliability and more — each with severity, the metrics behind it and a
        recommendation. At least one of `sales`, `purchases` or `cost_history` must be
        provided. Analyses are stored per product, so repeat calls also return a
        `comparison` against the previous analysis with a new/changed/resolved breakdown.
      operationId: createProductInsights
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductInsightsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductInsightsResponse"
          description: Analysis results
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createProductInsights_400_response"
          description: The analysis could not run on the provided data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationFailedResponse"
          description: Validation error
      security:
      - apiKey: []
      summary: "Analyze product performance for anomalies, trends and business insights"
      tags:
      - Product Insights
  /v2/batch/product-insights:
    post:
      description: |
        Analyze up to 1,000 products in one asynchronous batch; each entry is the same
        shape as a single `/v2/product-insights` request. Returns `202` with the batch
        resource to poll via `GET /v2/batch/product-insights/{batch_id}`. The optional
        `batch` and `parts` fields let a large batch be submitted in chunks that share one
        batch id. Validation is per series: if any entry fails, the whole submission is
        rejected with the failing entries listed by index.
      operationId: createBatchProductInsights
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductInsightsBatchRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductInsightsBatchStatusResponse"
          description: Accepted — the batch is queued for analysis
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createBatchProductInsights_422_response"
          description: One or more series failed validation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createBatchProductInsights_500_response"
          description: Internal error during batch creation
      security:
      - apiKey: []
      summary: Submit a batch of products for insights analysis
      tags:
      - Product Insights
  /v2/batch/product-insights/{batch_id}:
    get:
      operationId: getProductInsightsBatch
      parameters:
      - description: The batch identifier returned on submission
        explode: false
        in: path
        name: batch_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductInsightsBatchStatusResponse"
          description: Current status and results of the batch
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getGroupedForecast_404_response"
          description: No batch with this id exists for your team
      security:
      - apiKey: []
      summary: Poll a product insights batch for status and results
      tags:
      - Product Insights
components:
  schemas:
    ForecastRequest:
      example:
        identifier: SKU-12345
        value_bounds:
          min: 0
          max: 100
        adjustments:
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        data:
        - date: 2024-01-01
          value: 150.5
        - date: 2024-01-01
          value: 150.5
        confidence_level: 0.8
        frequency: M
        quantiles:
        - 0.1
        - 0.5
        - 0.9
        selection_metric: auto
        data_type: sales
        periods: 6
        accumulate:
          correlation: 0.5
          decay: 0.95
          discount_rate: 0.1
        model: standard
        tenant_context: plan-pro
        start_date: 2024-01-01
      properties:
        identifier:
          description: "SKU, Product ID, or other identifier for the data series"
          example: SKU-12345
          type: string
        tenant_context:
          description: |
            Optional segmentation dimension. A series is identified by the pair
            identifier + tenant_context, so "mrr" on "plan-pro" and "mrr" on "plan-free" are
            two independent series, each with its own history and accuracy tracking. Despite
            the name it isn't only for multi-tenancy — use it for any slice: plan, region,
            store, channel, cohort, device type.
          example: plan-pro
          nullable: true
          type: string
        frequency:
          description: |
            Data frequency:
            - H: Hourly
            - D: Daily
            - W: Weekly
            - M: Monthly (end of month)
            - MS: Monthly (start of month)
            - ME: Monthly (end of month)
            - Q: Quarterly
            - Y: Yearly
          enum:
          - H
          - D
          - W
          - M
          - MS
          - ME
          - Q
          - "Y"
          example: M
          type: string
        start_date:
          description: Optional start date for the forecast
          example: 2024-01-01
          format: date
          nullable: true
          type: string
        data_type:
          description: "Type of data (e.g., sales, demand, inventory, web_traffic)"
          example: sales
          type: string
        periods:
          description: Number of periods to forecast
          example: 6
          minimum: 1
          type: integer
        model:
          default: standard
          description: |
            Which forecasting engine to use. The advanced variants, ensemble and auto
            provide higher accuracy at a higher usage cost than standard.

            `auto` routes each identifier to whichever model has proven most accurate on
            that series: a new identifier starts on the ensemble, and as actuals arrive
            for previously forecast dates, every model's realized accuracy is scored;
            once one clearly wins, that identifier is routed to it. The response reports
            the decision in `model_info.auto_selection`. Billed at the ensemble rate
            whichever model it routes to.
          enum:
          - standard
          - advanced
          - advanced-quantized
          - advanced-patched
          - ensemble
          - auto
          example: standard
          type: string
        confidence_level:
          default: 0.8
          description: |
            Confidence level for the prediction interval. Note that 0.80 is the widest band
            the foundation models (advanced-quantized, advanced-patched, ensemble) produce
            natively — for genuinely distinct levels beyond that, request a quantile fan via
            `quantiles` instead of repeating the call at several confidence levels.
          example: 0.8
          maximum: 0.99
          minimum: 0.1
          type: number
        quantiles:
          description: |
            Decile levels to return per period — only deciles between 0.1 and 0.9 are
            accepted, because those are the levels every backend produces natively; anything
            finer would be interpolation served under a label the model never predicted.
            Adds a `quantiles` object to each forecast row alongside the usual bounds.
            Honoured by /v2/forecast and /v2/batch/forecast (request-level default or
            per-series override); rejected on grouped forecasts; ignored by other endpoints
            sharing this request shape.
          example:
          - 0.1
          - 0.5
          - 0.9
          items:
            enum:
            - 0.1
            - 0.2
            - 0.3
            - 0.4
            - 0.5
            - 0.6
            - 0.7
            - 0.8
            - 0.9
            type: number
          maxItems: 9
          minItems: 1
          type: array
        value_bounds:
          $ref: "#/components/schemas/ValueBounds"
        adjustments:
          description: |
            What-if scenario applied on top of the forecast ("assume we lose the enterprise
            deal"). Adjustments compose in array order — ×2 then +50 is not +50 then ×2.
            Each one moves the point, both bounds and any quantile fan together. Returns an
            `adjusted` block; the adjusted path is never stored or accuracy-tracked. Honoured
            by /v2/forecast and /v2/batch/forecast (request-level default or per-series
            override — period windows are checked against each series' own horizon); rejected
            on grouped forecasts; ignored by other endpoints sharing this request shape.
          items:
            $ref: "#/components/schemas/Adjustments_inner"
          maxItems: 20
          minItems: 1
          type: array
        accumulate:
          $ref: "#/components/schemas/AccumulateOptions"
        selection_metric:
          description: |
            Which back-testing error metric decides the winning model when candidates are compared:
            - auto: combined for demand/sales/inventory, sMAPE otherwise (default)
            - combined: 0.6·MASE + 0.4·sMAPE — balances accuracy and trend capture
            - mase: Mean Absolute Scaled Error — accuracy relative to a naive forecast
            - smape: Symmetric Mean Absolute Percentage Error
          enum:
          - auto
          - combined
          - mase
          - smape
          example: auto
          nullable: true
          type: string
        data:
          description: Historical time series data
          items:
            $ref: "#/components/schemas/ForecastRequest_data_inner"
          minItems: 1
          type: array
      required:
      - data
      - data_type
      - frequency
      - identifier
      - periods
      type: object
    QuantilesParameter:
      description: |
        Decile levels to return per period — only deciles between 0.1 and 0.9 are
        accepted, because those are the levels every backend produces natively; anything
        finer would be interpolation served under a label the model never predicted.
        Adds a `quantiles` object to each forecast row alongside the usual bounds.
        Honoured by /v2/forecast and /v2/batch/forecast (request-level default or
        per-series override); rejected on grouped forecasts; ignored by other endpoints
        sharing this request shape.
      example:
      - 0.1
      - 0.5
      - 0.9
      items:
        enum:
        - 0.1
        - 0.2
        - 0.3
        - 0.4
        - 0.5
        - 0.6
        - 0.7
        - 0.8
        - 0.9
        type: number
      maxItems: 9
      minItems: 1
      type: array
    ValueBounds:
      description: |
        The range the series cannot leave — a rate has both sides, a backlog only a
        floor. At least one side must be declared, and min must be less than max. The
        series is forecast on a transformed scale and mapped back, so the point, both
        bounds and every quantile land inside the range and the band takes the right
        asymmetric shape near a bound. Checked against the series' own history: bounds the
        history already contradicts are rejected up front (usually a unit mismatch, e.g.
        0–1 rates declared as 0–100). Honoured by /v2/forecast and /v2/batch/forecast
        (request-level default or per-series override); rejected on grouped forecasts;
        ignored by other endpoints sharing this request shape.
      example:
        min: 0
        max: 100
      properties:
        min:
          description: Floor the series cannot go below
          example: 0
          nullable: true
          type: number
        max:
          description: Ceiling the series cannot exceed
          example: 100
          nullable: true
          type: number
      type: object
    Adjustments:
      description: |
        What-if scenario applied on top of the forecast ("assume we lose the enterprise
        deal"). Adjustments compose in array order — ×2 then +50 is not +50 then ×2.
        Each one moves the point, both bounds and any quantile fan together. Returns an
        `adjusted` block; the adjusted path is never stored or accuracy-tracked. Honoured
        by /v2/forecast and /v2/batch/forecast (request-level default or per-series
        override — period windows are checked against each series' own horizon); rejected
        on grouped forecasts; ignored by other endpoints sharing this request shape.
      items:
        $ref: "#/components/schemas/Adjustments_inner"
      maxItems: 20
      minItems: 1
      type: array
    AccumulateOptions:
      description: |
        Collapse the forecast path into a cumulative total — Σ (value × survival ×
        discount). The same operation covers cumulative demand over a lead time (safety
        stock), customer lifetime value, TCO and NPV. Returns an `accumulated` block.
        Honoured by /v2/forecast and /v2/batch/forecast (request-level default or
        per-series override); rejected on grouped forecasts; ignored by other endpoints
        sharing this request shape.
      example:
        correlation: 0.5
        decay: 0.95
        discount_rate: 0.1
      properties:
        decay:
          default: 1.0
          description: Per-period survival factor — 0.95 means 5% attrition each period
          example: 0.95
          maximum: 1
          minimum: 0
          type: number
        discount_rate:
          default: 0
          description: "Annual discount rate, converted to the series frequency (a\
            \ 10% annual rate on monthly periods discounts period 2 by 1.10^(-1/12),\
            \ not by 1.10)"
          example: 0.1
          maximum: 1
          minimum: 0
          type: number
        correlation:
          default: 0.5
          description: |
            How correlated the per-period errors are assumed to be; controls only the
            width of the total's band. 0 = independent periods (measurably too narrow),
            1 = sum of the bounds (conservative envelope). The default 0.5 was measured
            across the benchmark suite; a value you supply is your assumption and is
            never labelled measured.
          example: 0.5
          maximum: 1
          minimum: 0
          type: number
      type: object
    AutoSelection:
      description: |
        Present only when `model: auto` was requested — which model actually answered,
        and why. On /v2/forecast and batch results it appears inside `model_info`; on
        /v2/inventory-planning and /v2/traffic-forecasting it appears under `meta`.
      example:
        reason: no_history
        requested: auto
        scores:
          key:
            mase: 0.8008281904610115
            matched_periods: 6
            forecast_runs: 1
        selected: ensemble
      properties:
        requested:
          example: auto
          type: string
        selected:
          description: The model that produced this response
          example: ensemble
          type: string
        reason:
          description: |
            Why this model was selected. `scored_winner` means one model beat every
            alternative by a clear margin on realized accuracy for this identifier;
            everything else means the evidence-gathering default was served.
          enum:
          - no_history
          - insufficient_evidence
          - no_clear_winner
          - scored_winner
          example: no_history
          type: string
        scores:
          additionalProperties:
            $ref: "#/components/schemas/AutoSelection_scores_value"
          description: "Per-model realized-accuracy scorecard for this identifier,\
            \ when one exists"
          nullable: true
          type: object
      type: object
    BatchForecastRequest:
      description: |
        Either `series` (inline) or `file_key` (file-based, from /v2/batch/forecast/presign)
        is required. Every other field is a request-level default that each series inherits
        unless it declares its own override — `model` included.
        `confidence_level` is accepted as an alias for `confidence`; if both are sent,
        `confidence` wins.
      example:
        quantiles:
        - 0.1
        - 0.5
        - 0.9
        file_key: batch-uploads/123/2f1f9c2e-6d0f-4a3e-9d55-0c6a70c1a111.json
        value_bounds:
          min: 0
          max: 100
        adjustments:
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        series:
        - identifier: SKU-001
          value_bounds:
            min: 0
            max: 100
          adjustments:
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          data:
          - date: 2024-01-01
            value: 100
          - date: 2024-01-01
            value: 100
          confidence: 0.6364436002932659
          confidence_level: 0.23045735526476213
          frequency: H
          quantiles:
          - 0.1
          - 0.5
          - 0.9
          data_type: data_type
          periods: 30
          accumulate:
            correlation: 0.5
            decay: 0.95
            discount_rate: 0.1
          model: standard
          tenant_context: plan-pro
        - identifier: SKU-001
          value_bounds:
            min: 0
            max: 100
          adjustments:
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          data:
          - date: 2024-01-01
            value: 100
          - date: 2024-01-01
            value: 100
          confidence: 0.6364436002932659
          confidence_level: 0.23045735526476213
          frequency: H
          quantiles:
          - 0.1
          - 0.5
          - 0.9
          data_type: data_type
          periods: 30
          accumulate:
            correlation: 0.5
            decay: 0.95
            discount_rate: 0.1
          model: standard
          tenant_context: plan-pro
        - identifier: SKU-001
          value_bounds:
            min: 0
            max: 100
          adjustments:
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          data:
          - date: 2024-01-01
            value: 100
          - date: 2024-01-01
            value: 100
          confidence: 0.6364436002932659
          confidence_level: 0.23045735526476213
          frequency: H
          quantiles:
          - 0.1
          - 0.5
          - 0.9
          data_type: data_type
          periods: 30
          accumulate:
            correlation: 0.5
            decay: 0.95
            discount_rate: 0.1
          model: standard
          tenant_context: plan-pro
        - identifier: SKU-001
          value_bounds:
            min: 0
            max: 100
          adjustments:
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          data:
          - date: 2024-01-01
            value: 100
          - date: 2024-01-01
            value: 100
          confidence: 0.6364436002932659
          confidence_level: 0.23045735526476213
          frequency: H
          quantiles:
          - 0.1
          - 0.5
          - 0.9
          data_type: data_type
          periods: 30
          accumulate:
            correlation: 0.5
            decay: 0.95
            discount_rate: 0.1
          model: standard
          tenant_context: plan-pro
        - identifier: SKU-001
          value_bounds:
            min: 0
            max: 100
          adjustments:
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 9
          data:
          - date: 2024-01-01
            value: 100
          - date: 2024-01-01
            value: 100
          confidence: 0.6364436002932659
          confidence_level: 0.23045735526476213
          frequency: H
          quantiles:
          - 0.1
          - 0.5
          - 0.9
          data_type: data_type
          periods: 30
          accumulate:
            correlation: 0.5
            decay: 0.95
            discount_rate: 0.1
          model: standard
          tenant_context: plan-pro
        confidence: 0.6017265224403662
        confidence_level: 0.30489009393719413
        data_type: sales
        periods: 218
        accumulate:
          correlation: 0.5
          decay: 0.95
          discount_rate: 0.1
        model: standard
        frequency: M
      properties:
        series:
          description: "The series to forecast — up to 100,000 per call on a paid\
            \ plan, 10 on the free tier"
          items:
            $ref: "#/components/schemas/BatchForecastSeries"
          maxItems: 100000
          minItems: 1
          type: array
        file_key:
          description: |
            Instead of inline `series` — the key returned by /v2/batch/forecast/presign,
            after uploading a JSON file of the same shape as this request body (an object
            with a `series` array). Series from a file are validated as they are streamed:
            an invalid series fails that series, not the whole batch.
          example: batch-uploads/123/2f1f9c2e-6d0f-4a3e-9d55-0c6a70c1a111.json
          type: string
        periods:
          default: 6
          description: Default forecast horizon for series that don't set their own
          maximum: 365
          minimum: 1
          type: integer
        frequency:
          description: Default data frequency
          enum:
          - H
          - D
          - W
          - M
          - MS
          - ME
          - Q
          - "Y"
          example: M
          type: string
        data_type:
          description: Default data type
          example: sales
          maxLength: 50
          type: string
        model:
          default: standard
          description: |
            Default forecasting engine for series that don't set their own. `auto` routes
            each series independently on its own realized-accuracy scorecard. Usage is
            billed per series at its effective model's rate.
          enum:
          - standard
          - advanced
          - advanced-quantized
          - advanced-patched
          - ensemble
          - auto
          type: string
        confidence:
          default: 0.8
          description: Default confidence level for prediction intervals
          maximum: 0.99
          minimum: 0.1
          type: number
        confidence_level:
          description: Alias for `confidence`
          maximum: 0.99
          minimum: 0.1
          type: number
        quantiles:
          description: |
            Decile levels to return per period — only deciles between 0.1 and 0.9 are
            accepted, because those are the levels every backend produces natively; anything
            finer would be interpolation served under a label the model never predicted.
            Adds a `quantiles` object to each forecast row alongside the usual bounds.
            Honoured by /v2/forecast and /v2/batch/forecast (request-level default or
            per-series override); rejected on grouped forecasts; ignored by other endpoints
            sharing this request shape.
          example:
          - 0.1
          - 0.5
          - 0.9
          items:
            enum:
            - 0.1
            - 0.2
            - 0.3
            - 0.4
            - 0.5
            - 0.6
            - 0.7
            - 0.8
            - 0.9
            type: number
          maxItems: 9
          minItems: 1
          type: array
        value_bounds:
          $ref: "#/components/schemas/ValueBounds"
        adjustments:
          description: |
            What-if scenario applied on top of the forecast ("assume we lose the enterprise
            deal"). Adjustments compose in array order — ×2 then +50 is not +50 then ×2.
            Each one moves the point, both bounds and any quantile fan together. Returns an
            `adjusted` block; the adjusted path is never stored or accuracy-tracked. Honoured
            by /v2/forecast and /v2/batch/forecast (request-level default or per-series
            override — period windows are checked against each series' own horizon); rejected
            on grouped forecasts; ignored by other endpoints sharing this request shape.
          items:
            $ref: "#/components/schemas/Adjustments_inner"
          maxItems: 20
          minItems: 1
          type: array
        accumulate:
          $ref: "#/components/schemas/AccumulateOptions"
      type: object
    BatchForecastSeries:
      example:
        identifier: SKU-001
        value_bounds:
          min: 0
          max: 100
        adjustments:
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        data:
        - date: 2024-01-01
          value: 100
        - date: 2024-01-01
          value: 100
        confidence: 0.6364436002932659
        confidence_level: 0.23045735526476213
        frequency: H
        quantiles:
        - 0.1
        - 0.5
        - 0.9
        data_type: data_type
        periods: 30
        accumulate:
          correlation: 0.5
          decay: 0.95
          discount_rate: 0.1
        model: standard
        tenant_context: plan-pro
      properties:
        identifier:
          description: "SKU, Product ID, or other identifier for this series"
          example: SKU-001
          type: string
        tenant_context:
          description: Optional segmentation dimension — the same identifier may appear
            under several tenant_context values in one batch
          example: plan-pro
          nullable: true
          type: string
        data:
          description: "Historical data for this series (at most 1,000 points per\
            \ series on the free tier)"
          items:
            $ref: "#/components/schemas/BatchForecastSeries_data_inner"
          minItems: 2
          type: array
        periods:
          description: Override of the request-level horizon for this series
          maximum: 365
          minimum: 1
          type: integer
        frequency:
          description: Override of the request-level frequency
          enum:
          - H
          - D
          - W
          - M
          - MS
          - ME
          - Q
          - "Y"
          type: string
        data_type:
          description: Override of the request-level data type
          maxLength: 50
          type: string
        confidence:
          description: Override of the request-level confidence
          maximum: 0.99
          minimum: 0.1
          type: number
        confidence_level:
          description: Alias for `confidence`
          maximum: 0.99
          minimum: 0.1
          type: number
        model:
          description: Override of the request-level forecasting engine for this series
          enum:
          - standard
          - advanced
          - advanced-quantized
          - advanced-patched
          - ensemble
          - auto
          type: string
        quantiles:
          description: |
            Decile levels to return per period — only deciles between 0.1 and 0.9 are
            accepted, because those are the levels every backend produces natively; anything
            finer would be interpolation served under a label the model never predicted.
            Adds a `quantiles` object to each forecast row alongside the usual bounds.
            Honoured by /v2/forecast and /v2/batch/forecast (request-level default or
            per-series override); rejected on grouped forecasts; ignored by other endpoints
            sharing this request shape.
          example:
          - 0.1
          - 0.5
          - 0.9
          items:
            enum:
            - 0.1
            - 0.2
            - 0.3
            - 0.4
            - 0.5
            - 0.6
            - 0.7
            - 0.8
            - 0.9
            type: number
          maxItems: 9
          minItems: 1
          type: array
        value_bounds:
          $ref: "#/components/schemas/ValueBounds"
        adjustments:
          description: |
            What-if scenario applied on top of the forecast ("assume we lose the enterprise
            deal"). Adjustments compose in array order — ×2 then +50 is not +50 then ×2.
            Each one moves the point, both bounds and any quantile fan together. Returns an
            `adjusted` block; the adjusted path is never stored or accuracy-tracked. Honoured
            by /v2/forecast and /v2/batch/forecast (request-level default or per-series
            override — period windows are checked against each series' own horizon); rejected
            on grouped forecasts; ignored by other endpoints sharing this request shape.
          items:
            $ref: "#/components/schemas/Adjustments_inner"
          maxItems: 20
          minItems: 1
          type: array
        accumulate:
          $ref: "#/components/schemas/AccumulateOptions"
      required:
      - data
      - identifier
      type: object
    BatchForecastAccepted:
      example:
        series_count: 250
        batch_id: 9d2c1b34-5e6f-4a7b-8c9d-0e1f2a3b4c5d
        time_taken_ms: 84.2
        status: pending
      properties:
        batch_id:
          description: "Id to poll via GET /v2/batch/forecast/{batch_id}"
          example: 9d2c1b34-5e6f-4a7b-8c9d-0e1f2a3b4c5d
          type: string
        status:
          example: pending
          type: string
        series_count:
          description: Number of series accepted. Present on inline submissions; a
            file-based submission counts its series during processing.
          example: 250
          type: integer
        time_taken_ms:
          example: 84.2
          type: number
      type: object
    BatchPresignResponse:
      example:
        headers:
          key: headers
        file_key: batch-uploads/123/2f1f9c2e-6d0f-4a3e-9d55-0c6a70c1a111.json
        upload_url: https://storage.example.com/batch-uploads/123/2f1f9c2e.json?signature=...
        expires_in: 1800
      properties:
        upload_url:
          description: "Presigned URL — HTTP PUT the JSON file here, including any\
            \ returned headers"
          example: https://storage.example.com/batch-uploads/123/2f1f9c2e.json?signature=...
          type: string
        headers:
          additionalProperties:
            type: string
          description: Headers that must be sent with the upload request
          type: object
        file_key:
          description: Pass this as `file_key` to POST /v2/batch/forecast after uploading
          example: batch-uploads/123/2f1f9c2e-6d0f-4a3e-9d55-0c6a70c1a111.json
          type: string
        expires_in:
          description: Seconds the upload URL stays valid
          example: 1800
          type: integer
      type: object
    BatchSeriesResult:
      additionalProperties: true
      description: |
        One series' results — the same object a single forecast returns under `result`
        (identifier, tenant_context, forecasts, model_info). Unlike single forecasts,
        `adjusted` and `accumulated` live INSIDE this object, next to `forecasts` — a batch
        flattens each series into `results.data[entity_id]`, so there is no sibling level.
        For a failed series the object is `{"error": "...", "reason": "..."}` instead; null
        while the series is still pending.
      example:
        identifier: SKU-001
        tenant_context: null
        forecasts:
        - period: 1
          date: 2024-04-01
          forecast: 168.5
          lower: 162.3
          upper: 174.7
      nullable: true
      properties:
        identifier:
          example: SKU-001
          type: string
        tenant_context:
          nullable: true
          type: string
        forecasts:
          items:
            $ref: "#/components/schemas/ForecastPeriod"
          type: array
        model_info:
          additionalProperties: true
          type: object
        adjusted:
          $ref: "#/components/schemas/AdjustedForecast"
        accumulated:
          $ref: "#/components/schemas/AccumulatedForecast"
        error:
          description: Present instead of forecasts when this series failed
          type: string
      type: object
    BatchForecastStatusResponse:
      example:
        identifier: 9d2c1b34-5e6f-4a7b-8c9d-0e1f2a3b4c5d
        completed_at: 2000-01-23T04:56:07.000+00:00
        updated_at: 2000-01-23T04:56:07.000+00:00
        batch_parts: 1
        parts:
        - completed_at: 2000-01-23T04:56:07.000+00:00
          started_at: 2000-01-23T04:56:07.000+00:00
          status: pending
        - completed_at: 2000-01-23T04:56:07.000+00:00
          started_at: 2000-01-23T04:56:07.000+00:00
          status: pending
        started_at: 2000-01-23T04:56:07.000+00:00
        created_at: 2000-01-23T04:56:07.000+00:00
        results:
          summary:
            model_distribution:
              standard: 250
            total_processing_time_ms: 512340.0
            completed: 248
            failed: 2
            avg_processing_time_ms: 2049.4
            total_series: 250
            error: error
          data:
            key:
              identifier: SKU-001
              tenant_context: null
              forecasts:
              - period: 1
                date: 2024-04-01
                forecast: 168.5
                lower: 162.3
                upper: 174.7
        status: completed
      properties:
        identifier:
          description: The batch id
          example: 9d2c1b34-5e6f-4a7b-8c9d-0e1f2a3b4c5d
          type: string
        status:
          enum:
          - pending
          - processing
          - completed
          - failed
          example: completed
          type: string
        batch_parts:
          description: Number of parts the batch was split into for processing
          example: 1
          nullable: true
          type: integer
        results:
          $ref: "#/components/schemas/BatchForecastStatusResponse_results"
        parts:
          description: Per-part progress metadata (the forecasts themselves live under
            results.data)
          items:
            $ref: "#/components/schemas/BatchForecastStatusResponse_parts_inner"
          type: array
        started_at:
          format: date-time
          nullable: true
          type: string
        completed_at:
          format: date-time
          nullable: true
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    AnomalyDetectionRequest:
      allOf:
      - $ref: "#/components/schemas/ForecastRequest"
      - properties:
          anomaly_settings:
            $ref: "#/components/schemas/AnomalyDetectionRequest_allOf_anomaly_settings"
        type: object
      example:
        identifier: SKU-12345
        value_bounds:
          min: 0
          max: 100
        adjustments:
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 9
        data:
        - date: 2024-01-01
          value: 150.5
        - date: 2024-01-01
          value: 150.5
        confidence_level: 0.8
        frequency: M
        quantiles:
        - 0.1
        - 0.5
        - 0.9
        selection_metric: auto
        anomaly_settings:
          method: auto
          multiplier: 3.212355282381681
          threshold: 0.8603726857074552
          minimum_periods: 60
          seasonal_period: 55
        data_type: sales
        periods: 6
        accumulate:
          correlation: 0.5
          decay: 0.95
          discount_rate: 0.1
        model: standard
        tenant_context: plan-pro
        start_date: 2024-01-01
    AnomalyDetectionResponse:
      example:
        result:
          interpretation:
            key: ""
          alternatives:
          - key: ""
          - key: ""
          analysis:
            reason: Regular pattern with stable variance suits z-score detection
            confidence: high
            data_characteristics:
              key: ""
            method_used: zscore
            detection_summary:
              anomaly_percentage: 5.56
              total_points: 36
              anomalies_found: 2
              severity_distribution:
                key: 0
          anomalies:
          - date: 2024-03-15
            severity: high
            index: 14
            expected_range:
              key: ""
            type: spike
            value: 940
          - date: 2024-03-15
            severity: high
            index: 14
            expected_range:
              key: ""
            type: spike
            value: 940
          statistics:
            key: ""
        meta:
          timing:
            detection: 42.7
            total: 50.8
            validation: 8.1
      properties:
        result:
          $ref: "#/components/schemas/AnomalyDetectionResponse_result"
        meta:
          $ref: "#/components/schemas/AnomalyDetectionResponse_meta"
      type: object
    ProductInsightsRequest:
      description: "At least one of `sales`, `purchases` or `cost_history` must be\
        \ provided."
      example:
        product_group_id: product_group_id
        base_currency: USD
        identifier: SKU-12345
        purchases:
        - date: 2024-02-20
          cost_price_converted: 0.6027456183070403
          expected_delivery_date: 2000-01-23
          currency: currency
          actual_delivery_date: 2000-01-23
          supplier_id: supplier_id
          purchase_order_date: 2000-01-23
          quantity_purchased: 100
          cost_price: 10.4
        - date: 2024-02-20
          cost_price_converted: 0.6027456183070403
          expected_delivery_date: 2000-01-23
          currency: currency
          actual_delivery_date: 2000-01-23
          supplier_id: supplier_id
          purchase_order_date: 2000-01-23
          quantity_purchased: 100
          cost_price: 10.4
        insight_settings:
          enable_seasonality_detection: true
          purchase_threshold: 1.1895572640327088
          margin_threshold: 0.600251257751635
          severity_levels:
          - critical
          - critical
          cost_threshold: 0.5681002890066995
          sales_threshold: 0.7755774253489579
        baseline_period_days: auto
        locale: en
        product_name: Wireless Mouse
        sales:
        - date: 2024-03-01
          quantity_sold: 12
          selling_price: 24.95
          selling_price_converted: 0.08008281904610115
          currency: currency
          customer_id: customer_id
          customer_segment: customer_segment
        - date: 2024-03-01
          quantity_sold: 12
          selling_price: 24.95
          selling_price_converted: 0.08008281904610115
          currency: currency
          customer_id: customer_id
          customer_segment: customer_segment
        cost_history:
        - date: 2024-01-01
          change_reason: change_reason
          currency: currency
          cost_price: 9.8
        - date: 2024-01-01
          change_reason: change_reason
          currency: currency
          cost_price: 9.8
        tenant_context: tenant_context
      properties:
        identifier:
          description: Product identifier
          example: SKU-12345
          maxLength: 255
          type: string
        tenant_context:
          maxLength: 255
          nullable: true
          type: string
        product_name:
          example: Wireless Mouse
          maxLength: 500
          nullable: true
          type: string
        product_group_id:
          maxLength: 255
          nullable: true
          type: string
        base_currency:
          description: ISO 4217 currency the analysis reports in
          example: USD
          maxLength: 3
          minLength: 3
          nullable: true
          type: string
        baseline_period_days:
          $ref: "#/components/schemas/ProductInsightsRequest_baseline_period_days"
        locale:
          default: en
          description: Locale for insight texts
          type: string
        sales:
          items:
            $ref: "#/components/schemas/ProductInsightsRequest_sales_inner"
          nullable: true
          type: array
        purchases:
          items:
            $ref: "#/components/schemas/ProductInsightsRequest_purchases_inner"
          nullable: true
          type: array
        cost_history:
          items:
            $ref: "#/components/schemas/ProductInsightsRequest_cost_history_inner"
          nullable: true
          type: array
        insight_settings:
          $ref: "#/components/schemas/ProductInsightsRequest_insight_settings"
      required:
      - identifier
      type: object
    ProductInsight:
      example:
        severity: warning
        date: 2024-03-05
        confidence: medium
        description: description
        recommendation:
          action: review_pricing
          description: description
          priority: high
        metrics:
          key: ""
        change_status: new
        type: margin_compression
        title: Margin dropped 8.2% versus baseline
        class: margin
      properties:
        class:
          description: "Insight family (e.g. margin, sales, cost, lead_time)"
          example: margin
          type: string
        type:
          example: margin_compression
          type: string
        severity:
          enum:
          - critical
          - warning
          - info
          example: warning
          type: string
        title:
          example: Margin dropped 8.2% versus baseline
          type: string
        description:
          type: string
        metrics:
          additionalProperties: true
          description: The numbers behind the insight
          type: object
        recommendation:
          $ref: "#/components/schemas/ProductInsight_recommendation"
        confidence:
          example: medium
          type: string
        date:
          example: 2024-03-05
          type: string
        change_status:
          description: How this insight compares to the previous analysis of the same
            product — every insight is "new" on the first analysis
          example: new
          type: string
      type: object
    ProductInsightsResponse:
      example:
        result:
          base_currency: USD
          summary:
            total_insights: 1
            data_sources_analyzed:
            - sales
            - purchases
            - cost_history
            categories:
            - profitability
            analysis_period:
              end_date: end_date
              start_date: start_date
              total_days: 0
            severity_distribution:
              critical: 0
              warning: 1
              info: 0
          identifier: SKU-12345
          comparison:
            result:
              key: ""
            developments:
              summary: summary
              new:
              - key: ""
              - key: ""
              unchanged_count: 6
              changed:
              - key: ""
              - key: ""
              resolved:
              - key: ""
              - key: ""
            from: 2000-01-23T04:56:07.000+00:00
            to: 2000-01-23T04:56:07.000+00:00
          insights:
          - severity: warning
            date: 2024-03-05
            confidence: medium
            description: description
            recommendation:
              action: review_pricing
              description: description
              priority: high
            metrics:
              key: ""
            change_status: new
            type: margin_compression
            title: Margin dropped 8.2% versus baseline
            class: margin
          - severity: warning
            date: 2024-03-05
            confidence: medium
            description: description
            recommendation:
              action: review_pricing
              description: description
              priority: high
            metrics:
              key: ""
            change_status: new
            type: margin_compression
            title: Margin dropped 8.2% versus baseline
            class: margin
          product_info:
            group_id: group_id
            name: name
          tenant_context: tenant_context
        meta:
          timing:
            total: 151.9
            analysis: 148.7
            validation: 2.1
          data_quality:
            total_data_points: 6
            datasets_provided:
            - sales
            - purchases
            - cost_history
      properties:
        result:
          $ref: "#/components/schemas/ProductInsightsResponse_result"
        meta:
          $ref: "#/components/schemas/ProductInsightsResponse_meta"
      type: object
    ProductInsightsBatchRequest:
      example:
        series:
        - product_group_id: product_group_id
          base_currency: USD
          identifier: SKU-12345
          purchases:
          - date: 2024-02-20
            cost_price_converted: 0.6027456183070403
            expected_delivery_date: 2000-01-23
            currency: currency
            actual_delivery_date: 2000-01-23
            supplier_id: supplier_id
            purchase_order_date: 2000-01-23
            quantity_purchased: 100
            cost_price: 10.4
          - date: 2024-02-20
            cost_price_converted: 0.6027456183070403
            expected_delivery_date: 2000-01-23
            currency: currency
            actual_delivery_date: 2000-01-23
            supplier_id: supplier_id
            purchase_order_date: 2000-01-23
            quantity_purchased: 100
            cost_price: 10.4
          insight_settings:
            enable_seasonality_detection: true
            purchase_threshold: 1.1895572640327088
            margin_threshold: 0.600251257751635
            severity_levels:
            - critical
            - critical
            cost_threshold: 0.5681002890066995
            sales_threshold: 0.7755774253489579
          baseline_period_days: auto
          locale: en
          product_name: Wireless Mouse
          sales:
          - date: 2024-03-01
            quantity_sold: 12
            selling_price: 24.95
            selling_price_converted: 0.08008281904610115
            currency: currency
            customer_id: customer_id
            customer_segment: customer_segment
          - date: 2024-03-01
            quantity_sold: 12
            selling_price: 24.95
            selling_price_converted: 0.08008281904610115
            currency: currency
            customer_id: customer_id
            customer_segment: customer_segment
          cost_history:
          - date: 2024-01-01
            change_reason: change_reason
            currency: currency
            cost_price: 9.8
          - date: 2024-01-01
            change_reason: change_reason
            currency: currency
            cost_price: 9.8
          tenant_context: tenant_context
        - product_group_id: product_group_id
          base_currency: USD
          identifier: SKU-12345
          purchases:
          - date: 2024-02-20
            cost_price_converted: 0.6027456183070403
            expected_delivery_date: 2000-01-23
            currency: currency
            actual_delivery_date: 2000-01-23
            supplier_id: supplier_id
            purchase_order_date: 2000-01-23
            quantity_purchased: 100
            cost_price: 10.4
          - date: 2024-02-20
            cost_price_converted: 0.6027456183070403
            expected_delivery_date: 2000-01-23
            currency: currency
            actual_delivery_date: 2000-01-23
            supplier_id: supplier_id
            purchase_order_date: 2000-01-23
            quantity_purchased: 100
            cost_price: 10.4
          insight_settings:
            enable_seasonality_detection: true
            purchase_threshold: 1.1895572640327088
            margin_threshold: 0.600251257751635
            severity_levels:
            - critical
            - critical
            cost_threshold: 0.5681002890066995
            sales_threshold: 0.7755774253489579
          baseline_period_days: auto
          locale: en
          product_name: Wireless Mouse
          sales:
          - date: 2024-03-01
            quantity_sold: 12
            selling_price: 24.95
            selling_price_converted: 0.08008281904610115
            currency: currency
            customer_id: customer_id
            customer_segment: customer_segment
          - date: 2024-03-01
            quantity_sold: 12
            selling_price: 24.95
            selling_price_converted: 0.08008281904610115
            currency: currency
            customer_id: customer_id
            customer_segment: customer_segment
          cost_history:
          - date: 2024-01-01
            change_reason: change_reason
            currency: currency
            cost_price: 9.8
          - date: 2024-01-01
            change_reason: change_reason
            currency: currency
            cost_price: 9.8
          tenant_context: tenant_context
        - product_group_id: product_group_id
          base_currency: USD
          identifier: SKU-12345
          purchases:
          - date: 2024-02-20
            cost_price_converted: 0.6027456183070403
            expected_delivery_date: 2000-01-23
            currency: currency
            actual_delivery_date: 2000-01-23
            supplier_id: supplier_id
            purchase_order_date: 2000-01-23
            quantity_purchased: 100
            cost_price: 10.4
          - date: 2024-02-20
            cost_price_converted: 0.6027456183070403
            expected_delivery_date: 2000-01-23
            currency: currency
            actual_delivery_date: 2000-01-23
            supplier_id: supplier_id
            purchase_order_date: 2000-01-23
            quantity_purchased: 100
            cost_price: 10.4
          insight_settings:
            enable_seasonality_detection: true
            purchase_threshold: 1.1895572640327088
            margin_threshold: 0.600251257751635
            severity_levels:
            - critical
            - critical
            cost_threshold: 0.5681002890066995
            sales_threshold: 0.7755774253489579
          baseline_period_days: auto
          locale: en
          product_name: Wireless Mouse
          sales:
          - date: 2024-03-01
            quantity_sold: 12
            selling_price: 24.95
            selling_price_converted: 0.08008281904610115
            currency: currency
            customer_id: customer_id
            customer_segment: customer_segment
          - date: 2024-03-01
            quantity_sold: 12
            selling_price: 24.95
            selling_price_converted: 0.08008281904610115
            currency: currency
            customer_id: customer_id
            customer_segment: customer_segment
          cost_history:
          - date: 2024-01-01
            change_reason: change_reason
            currency: currency
            cost_price: 9.8
          - date: 2024-01-01
            change_reason: change_reason
            currency: currency
            cost_price: 9.8
          tenant_context: tenant_context
        - product_group_id: product_group_id
          base_currency: USD
          identifier: SKU-12345
          purchases:
          - date: 2024-02-20
            cost_price_converted: 0.6027456183070403
            expected_delivery_date: 2000-01-23
            currency: currency
            actual_delivery_date: 2000-01-23
            supplier_id: supplier_id
            purchase_order_date: 2000-01-23
            quantity_purchased: 100
            cost_price: 10.4
          - date: 2024-02-20
            cost_price_converted: 0.6027456183070403
            expected_delivery_date: 2000-01-23
            currency: currency
            actual_delivery_date: 2000-01-23
            supplier_id: supplier_id
            purchase_order_date: 2000-01-23
            quantity_purchased: 100
            cost_price: 10.4
          insight_settings:
            enable_seasonality_detection: true
            purchase_threshold: 1.1895572640327088
            margin_threshold: 0.600251257751635
            severity_levels:
            - critical
            - critical
            cost_threshold: 0.5681002890066995
            sales_threshold: 0.7755774253489579
          baseline_period_days: auto
          locale: en
          product_name: Wireless Mouse
          sales:
          - date: 2024-03-01
            quantity_sold: 12
            selling_price: 24.95
            selling_price_converted: 0.08008281904610115
            currency: currency
            customer_id: customer_id
            customer_segment: customer_segment
          - date: 2024-03-01
            quantity_sold: 12
            selling_price: 24.95
            selling_price_converted: 0.08008281904610115
            currency: currency
            customer_id: customer_id
            customer_segment: customer_segment
          cost_history:
          - date: 2024-01-01
            change_reason: change_reason
            currency: currency
            cost_price: 9.8
          - date: 2024-01-01
            change_reason: change_reason
            currency: currency
            cost_price: 9.8
          tenant_context: tenant_context
        - product_group_id: product_group_id
          base_currency: USD
          identifier: SKU-12345
          purchases:
          - date: 2024-02-20
            cost_price_converted: 0.6027456183070403
            expected_delivery_date: 2000-01-23
            currency: currency
            actual_delivery_date: 2000-01-23
            supplier_id: supplier_id
            purchase_order_date: 2000-01-23
            quantity_purchased: 100
            cost_price: 10.4
          - date: 2024-02-20
            cost_price_converted: 0.6027456183070403
            expected_delivery_date: 2000-01-23
            currency: currency
            actual_delivery_date: 2000-01-23
            supplier_id: supplier_id
            purchase_order_date: 2000-01-23
            quantity_purchased: 100
            cost_price: 10.4
          insight_settings:
            enable_seasonality_detection: true
            purchase_threshold: 1.1895572640327088
            margin_threshold: 0.600251257751635
            severity_levels:
            - critical
            - critical
            cost_threshold: 0.5681002890066995
            sales_threshold: 0.7755774253489579
          baseline_period_days: auto
          locale: en
          product_name: Wireless Mouse
          sales:
          - date: 2024-03-01
            quantity_sold: 12
            selling_price: 24.95
            selling_price_converted: 0.08008281904610115
            currency: currency
            customer_id: customer_id
            customer_segment: customer_segment
          - date: 2024-03-01
            quantity_sold: 12
            selling_price: 24.95
            selling_price_converted: 0.08008281904610115
            currency: currency
            customer_id: customer_id
            customer_segment: customer_segment
          cost_history:
          - date: 2024-01-01
            change_reason: change_reason
            currency: currency
            cost_price: 9.8
          - date: 2024-01-01
            change_reason: change_reason
            currency: currency
            cost_price: 9.8
          tenant_context: tenant_context
        batch: batch
        parts: 0
      properties:
        series:
          description: "One entry per product, each the same shape as a single /v2/product-insights\
            \ request"
          items:
            $ref: "#/components/schemas/ProductInsightsRequest"
          maxItems: 1000
          minItems: 1
          type: array
        batch:
          description: "Existing batch identifier to append this upload to, for submitting\
            \ one logical batch in chunks"
          type: string
        parts:
          description: "Total number of parts the batch will consist of, when submitting\
            \ in chunks"
          type: integer
      required:
      - series
      type: object
    ProductInsightsBatchStatusResponse:
      example:
        identifier: 7f3e2a91-1c4d-4b6a-9e8f-5a6b7c8d9e0f
        completed_at: 2000-01-23T04:56:07.000+00:00
        updated_at: 2000-01-23T04:56:07.000+00:00
        batch_parts: 1
        parts:
        - key: ""
        - key: ""
        started_at: 2000-01-23T04:56:07.000+00:00
        created_at: 2000-01-23T04:56:07.000+00:00
        results:
          key: ""
        status: processing
      properties:
        identifier:
          description: The batch id
          example: 7f3e2a91-1c4d-4b6a-9e8f-5a6b7c8d9e0f
          type: string
        status:
          enum:
          - pending
          - processing
          - completed
          - failed
          example: processing
          type: string
        batch_parts:
          example: 1
          nullable: true
          type: integer
        results:
          additionalProperties: true
          description: Summary and per-product analysis results as parts complete
          nullable: true
          type: object
        parts:
          description: "Per-part progress, each carrying its analyses once processed"
          items:
            additionalProperties: true
            type: object
          type: array
        started_at:
          format: date-time
          nullable: true
          type: string
        completed_at:
          format: date-time
          nullable: true
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    ForecastPeriod:
      example:
        date: 2024-04-01
        quantiles:
          "0.1": 151.2
          "0.5": 168.5
          "0.9": 186.0
        period: 1
        lower: 162.3
        upper: 174.7
        forecast: 168.5
      properties:
        period:
          description: 1-based forecast period number
          example: 1
          type: integer
        date:
          description: Date of this forecast period
          example: 2024-04-01
          format: date
          type: string
        forecast:
          description: Point forecast for this period
          example: 168.5
          type: number
        lower:
          description: Lower prediction bound at the requested confidence level
          example: 162.3
          type: number
        upper:
          description: Upper prediction bound at the requested confidence level
          example: 174.7
          type: number
        quantiles:
          additionalProperties:
            type: number
          description: Present only when `quantiles` was requested — the forecast
            at each requested decile level for this period
          example:
            "0.1": 151.2
            "0.5": 168.5
            "0.9": 186.0
          type: object
      type: object
    ForecastResponse:
      example:
        result:
          identifier: SKU-12345
          model_info:
            key: ""
          tenant_context: tenant_context
          forecasts:
          - date: 2024-04-01
            quantiles:
              "0.1": 151.2
              "0.5": 168.5
              "0.9": 186.0
            period: 1
            lower: 162.3
            upper: 174.7
            forecast: 168.5
          - date: 2024-04-01
            quantiles:
              "0.1": 151.2
              "0.5": 168.5
              "0.9": 186.0
            period: 1
            lower: 162.3
            upper: 174.7
            forecast: 168.5
        meta:
          selection_metric: smape
          timing:
            total: 125.6
            selection: 45.3
            forecasting: 67.8
            validation: 12.5
        adjusted:
          stored: false
          adjustments_applied:
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 6
            periods_affected: 4
          - from_period: 3
            type: multiplier
            value: 0.8
            to_period: 6
            periods_affected: 4
          forecasts:
          - date: 2024-04-01
            quantiles:
              "0.1": 151.2
              "0.5": 168.5
              "0.9": 186.0
            period: 1
            lower: 162.3
            upper: 174.7
            forecast: 168.5
          - date: 2024-04-01
            quantiles:
              "0.1": 151.2
              "0.5": 168.5
              "0.9": 186.0
            period: 1
            lower: 162.3
            upper: 174.7
            forecast: 168.5
        accumulated:
          path: baseline
          total: 8231.5
          lower: 7614.2
          upper: 8848.8
          confidence_level: 0.8
          interval_reason: interval_reason
          total_reason: total_reason
          by_period:
          - date: 2024-04-01
            cumulative_lower: 301.2
            cumulative_upper: 355.6
            weight: 0.95
            cumulative: 328.4
          - date: 2024-04-01
            cumulative_lower: 301.2
            cumulative_upper: 355.6
            weight: 0.95
            cumulative: 328.4
          assumptions:
            measured: true
            correlation: 0.5
            timing: start_of_period
            correlation_source: default
            decay: 0.95
            periods_per_year: 12
            basis: equicorrelated period errors
            discount_rate: 0.1
      properties:
        result:
          $ref: "#/components/schemas/ForecastResponse_result"
        adjusted:
          $ref: "#/components/schemas/AdjustedForecast"
        accumulated:
          $ref: "#/components/schemas/AccumulatedForecast"
        meta:
          $ref: "#/components/schemas/ForecastResponse_meta"
      type: object
    AdjustedForecast:
      description: |
        The what-if scenario path. Present only when `adjustments` was sent, as a sibling of
        `result` — never a field inside it. The adjusted path is never stored, so scenarios
        cannot pollute accuracy tracking.
      example:
        stored: false
        adjustments_applied:
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 6
          periods_affected: 4
        - from_period: 3
          type: multiplier
          value: 0.8
          to_period: 6
          periods_affected: 4
        forecasts:
        - date: 2024-04-01
          quantiles:
            "0.1": 151.2
            "0.5": 168.5
            "0.9": 186.0
          period: 1
          lower: 162.3
          upper: 174.7
          forecast: 168.5
        - date: 2024-04-01
          quantiles:
            "0.1": 151.2
            "0.5": 168.5
            "0.9": 186.0
          period: 1
          lower: 162.3
          upper: 174.7
          forecast: 168.5
      properties:
        forecasts:
          description: "The baseline path with every adjustment applied, in array\
            \ order"
          items:
            $ref: "#/components/schemas/ForecastPeriod"
          type: array
        adjustments_applied:
          description: "Echo of each adjustment as applied, in order"
          items:
            $ref: "#/components/schemas/AdjustedForecast_adjustments_applied_inner"
          type: array
        stored:
          description: Always false — only the baseline in `result` is persisted and
            scored for accuracy
          example: false
          type: boolean
      type: object
    AccumulatedForecast:
      description: |
        Cumulative projection over the forecast path. Present only when `accumulate` was
        sent, as a sibling of `result`.
      example:
        path: baseline
        total: 8231.5
        lower: 7614.2
        upper: 8848.8
        confidence_level: 0.8
        interval_reason: interval_reason
        total_reason: total_reason
        by_period:
        - date: 2024-04-01
          cumulative_lower: 301.2
          cumulative_upper: 355.6
          weight: 0.95
          cumulative: 328.4
        - date: 2024-04-01
          cumulative_lower: 301.2
          cumulative_upper: 355.6
          weight: 0.95
          cumulative: 328.4
        assumptions:
          measured: true
          correlation: 0.5
          timing: start_of_period
          correlation_source: default
          decay: 0.95
          periods_per_year: 12
          basis: equicorrelated period errors
          discount_rate: 0.1
      properties:
        total:
          description: Σ (value × survival × discount) over the horizon. Null when
            a period lacks a usable point forecast (see `total_reason`).
          example: 8231.5
          nullable: true
          type: number
        total_reason:
          description: Why `total` is null; null when the total is usable
          nullable: true
          type: string
          example: null
        lower:
          description: |
            Lower bound of the total under the stated correlation assumption. Null with an
            `interval_reason` when any period lacks a band or its coverage is unknown —
            rather than a band built from a partial set of variances.
          example: 7614.2
          nullable: true
          type: number
        upper:
          example: 8848.8
          nullable: true
          type: number
        interval_reason:
          description: Why the total's band is absent; null when the band is present
          nullable: true
          type: string
          example: null
        confidence_level:
          description: Coverage the total's band targets
          example: 0.8
          type: number
        path:
          description: "Which path was accumulated — `adjusted` when `adjustments`\
            \ was also sent, otherwise `baseline`"
          enum:
          - baseline
          - adjusted
          example: baseline
          type: string
        assumptions:
          $ref: "#/components/schemas/AccumulatedForecast_assumptions"
        by_period:
          description: Running accumulation per period — `cumulative` through period
            L is the number a lead-time/safety-stock calculation reads
          items:
            $ref: "#/components/schemas/AccumulatedForecast_by_period_inner"
          type: array
      type: object
    AnalysisResponse:
      example:
        result:
          recommended_methods:
          - exponential_smoothing
          - moving_average
          characteristics:
            total_periods: 24
            std_deviation: 15.3
            mean_value: 125.5
            non_zero_events: 20
            trend_strength: 0.75
            seasonality_detected: true
          pattern_type: regular
          confidence: high
        meta:
          timing:
            total: 97.8
            analysing: 85.3
            validation: 12.5
      properties:
        result:
          $ref: "#/components/schemas/AnalysisResponse_result"
        meta:
          $ref: "#/components/schemas/AnalysisResponse_meta"
      type: object
    ErrorResponse:
      example:
        message: Unauthenticated.
        errors:
          key:
          - errors
          - errors
      properties:
        message:
          example: Unauthenticated.
          type: string
        errors:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
      type: object
    ValidationErrorResponse:
      example:
        message: Data points exceed the maximum allowed for your current plan (1000).
        errors:
[...]
